langchain
langgraph
langchain-core
langchain-community
langchain-ollama
langchain-groq
pydantic
fastapi
langchain-huggingface
huggingface_hub
transformers
scrapy
tavily
uvicorn
python-multipart
orjson
python-jose
passlib[bcrypt]
pydantic
uuid4